<div class="row">
    <div class="col my-3 d-flex justify-content-center" *ngFor="let product of products; index as productId">
        <div class="card position-relative"style="width: 18rem;">
            <img src="{{product.img}}" class="card-img-top" alt="{{product.name}}">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <ul>
                <li><p class="card-text pb-3">{{product.price | currency:"EUR" }}</p></li>
              </ul> 
              <div class="row row-col-2">          
                <a routerLink="products/{{productId}}" class="btn btn-dark col m-1">Details</a>
                <a class="btn btn-dark col m-1" (click) = "addToCart(product)">Buy now</a>
              </div>  
            </div>
        </div>
    </div>
</div>
